
* {
  box-sizing: border-box;
}

body {
  font-family:  'Arial', Times, serif, sans-serif;
  background-color: #DFE4FF;
  margin-bottom: 30px;
}

h1 {
  font-size:  2.5em;
}

h2 { 
  font-size : 1.5em;
  padding: 10px;
}

label {
  margin:2px;
}

label,input{
  margin: 2px;
  padding: 2px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  background-color: azure;
  padding: 5px;
}

footer {
  border-top-style:solid;
  border-width:7px;
  text-align:center;
  border-color:azure;
  max-height:30px;
  background-color:#666666;
  color:white;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: underline;
}

span {
  padding : 5px;
  text-align:center;
}

.heading {   
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.hidden {
  display: none;
}
  
.buttons {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

#addBookmarkForm {
  border: black solid 2px;
  border-radius: 3px;
  margin: 0 10px;
}

.container {
  border: solid black 2px;
  width : 60%;
  margin: 10px auto;
  border-radius : 5px;
}
.reassignRating {
  display: inline-block;
}

.js-title {
  background-color: #eee;
  text-align:center;
}
 
.rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 5px 0 0;
}

.expandedInformation {
  background-color: azure;
}

.deleteButton {
  margin: 0 2px 0 0;
}

.button {
  margin: 2px 0;
}
.addBookmark {
  margin: 0 3px 0 0;
}